
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1516843451546-33a6a309dece?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=52282671a154dfdcd162a91a6d65f589&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
div.menu .menu-btn{
    margin-left: 30px;
    margin-top: 30px;
}
.menu-btn{ 
    z-index: 2;    
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after
{
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -15px;
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(7px);
}
.menu-btn span::after {
    transform: translateY(-7px);
}
.menu-btn_active span:before{
    transform:rotate(135deg);
    -webkit-transform-origin: ;
    -moz-transform-origin: ;
    -ms-transform-origin: ;
    -o-transform-origin: ;
    transform-origin: center;
}
.menu-btn_active span:after{
    transform:rotate(-135deg);
}
.menu-btn_active span{
    height: 0;
}
.menu-list{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 130px;
    align-items: flex-start;
    padding-left: 10px;
}
.menu-list a{
    display: block;
    margin-bottom: 22px;
    transition:0.2s; 
    padding: 5px 0px;
}
.menu-list a:link,.menu-list a:visited{
color:#d4d4d4;
    text-decoration: none;
    font-family:'Roboto Mono';
    text-transform: uppercase;
    line-height: 14px;
    font-size: 14px;
    vertical-align: center;
    
}
.menu-list a:hover, .menu-list a:focus{
    transform: scale(1.2)translateX(15%);
    color:white;
    transform-origin:
}
.slider{
    opacity: 0;
    z-index: -1;
    padding-top: 150px;
    transform: translateX(-100%);
    margin-top: 0;
    background-color: #000;
    padding-bottom: 100px;
    height: 100%;
    width: 272px;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items:stretch;
    justify-content: space-between;
    transition:0.5s;
}
.slider_active{
    background-color: rgba(0, 0, 0, 0.53);
    opacity:1;
    z-index: 1;
    transform: translateX(0%);
}
.menu-list_disabled{
    opacity:0;
    transition: 0.3s;
}
.slider_active a{
    opacity:1;
}
.slider a:link, .slider a:visited{
    font-family: 'Roboto Mono';
    font-size: 17px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 2;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.slider a:hover{
    background-color: rgba(255, 255, 255, 0.55);
    color:black;
    font-weight: bold;
}
img[alt='line']{
    width: 75px;
    height: 5px;
    vertical-align:center;
    margin-bottom: 2px;
    margin-right: 8px;
}
